.git/
.venv/
.vscode/
.pytest_cache/
.ipynb_checkpoints/
token
*.pem
*.sqlite
*.egg-info/
__pycache__/
dev/
tests/coverage/
Users/
venv/
.coverage
*.nhc2
requirements-dev.txt
app.py
dist/
build/
.*whl
nhc_test.ipynb
sync_repo.py